{% extends 'base.html' %}
{% block title %}Library and Wifi{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">Library & Wifi 💻</h1>
    <p class="lead">Want to study in libray but need silence and wifi?</p>
    <hr class="my-4" />
    <p>
      You've found the right place! Checkout my collection of libraries with data on
      WiFi speed, noise level and accomodation quality.
    </p>
    <a
      class="btn btn-warning btn-lg"
      href="{{ url_for('libbs') }}"
      role="button"
      >Show Me!</a
    >
  </div>
</div>

{% endblock %}
